body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .menu .imgbox {
  width: 40px;
}
header .menu .btn {
  display: none;
  padding: 0 10px;
  color: white;
  background-color: #4ab4be;
  cursor: pointer;
}
header .menu .btn h5 {
  font-size: 20px;
  margin-right: 3px;
  cursor: pointer;
}
header .menu nav a {
  font-size: 20px;
  color: #595959;
  margin-right: 30px;
}
header .menu nav .home-color {
  color: #47b2bc;
}
@media screen and (max-width: 768px) {
  header .menu .btn {
    display: flex;
    align-items: center;
  }
  header .menu nav {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  header .menu .imgbox {
    margin-right: 10px;
  }
  header .menu nav {
    display: none;
  }
  header .menu nav a {
    margin-right: 10px;
  }
}

#beautiful {
  background-color: #f4fafb;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
  margin-right: 80px;
}
#beautiful .box span {
  color: #4ab4be;
}
#beautiful .box h5 {
  color: #9098b4;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #35a5ae;
  color: white;
}
#beautiful .box .imgbox {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful .box h4 {
  font-size: 20px;
}
@media screen and (min-width: 576px) {
  #beautiful .box h1 {
    margin: 0;
    font-size: 60px;
  }
  #beautiful .box h4 {
    margin-bottom: 20px;
  }
  #beautiful .box h5 {
    width: 250px;
    font-size: 18px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  #beautiful .box h1 {
    font-size: 68px;
  }
  #beautiful .box h5 {
    font-size: 20px;
    width: 361px;
  }
}
@media screen and (min-width: 992px) {
  #beautiful .box h5 {
    margin: 25px 75px 50px 0;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  #beautiful .box h1 {
    margin: 0;
    font-size: 55px;
  }
  #beautiful .box h5 {
    margin-right: 75px;
    font-size: 18px;
  }
  #beautiful .box h4 {
    margin-bottom: 20px;
  }
}

#thehome {
  background-color: #f3f7f7;
}
#thehome .textbox h1 {
  color: #47b2bc;
  font-size: 60px;
  font-weight: 700;
  width: 390px;
}
#thehome .textbox h5 {
  color: #4f5c6a;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #47b2bc;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
#thehome .imgbox {
  width: 520px;
}
@media screen and (min-width: 576px) {
  #thehome .textbox .btn {
    margin-bottom: 30px;
  }
  #thehome .imgbox {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  #thehome .textbox h1 {
    font-size: 60px;
  }
  #thehome .textbox h5 {
    font-size: 20px;
  }
  #thehome .imgbox {
    width: 520px;
  }
}
@media screen and (max-width: 576px) {
  #thehome .textbox h1 {
    width: auto;
    font-size: 55px;
  }
  #thehome .textbox h5 {
    margin: 25px 0;
    font-size: 18px;
  }
  #thehome .textbox .btn {
    padding: 10px 25px;
    font-size: 19px;
  }
  #thehome .imgbox {
    margin-top: 20px;
  }
}

#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #45a5ae;
  margin-bottom: 60px;
}
#works .box .imgbox {
  width: 350px;
}
#works .box .textbox {
  padding: 35px 55px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #727a88;
  line-height: 1.3;
}
@media screen and (max-width: 992px) {
  #works .box .imgbox {
    width: auto;
  }
  #works .box .textbox {
    padding: 35px 10px;
  }
}
@media screen and (max-width: 768px) {
  #works .box .imgbox {
    width: auto;
    margin: 0 90px;
  }
}
@media screen and (max-width: 576px) {
  #works h1 {
    font-size: 47px;
  }
  #works .box .textbox h2 {
    font-size: 22px;
  }
  #works .box .textbox h4 {
    font-size: 19px;
  }
  #works .box .imgbox {
    margin: 0 50px;
  }
}

#browse .textbox {
  width: 500px;
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #47b2bc;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #878787;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #47b2bc;
  text-decoration-line: underline;
}
#browse .btn {
  font-size: 18px;
  border: 0.5px solid #9c9999;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .bgc {
  background-color: #47b2bc;
  color: white;
}
#browse .box {
  padding: 30px;
  border-radius: 10px;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#browse .box .textbox .minibox {
  margin-right: 10px;
  align-items: center;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #47b2bc;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(30, 30, 72, 0.4392156863);
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  border: 1px solid #cdcccc;
  background-color: #eeeeee;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #47b2bc;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  padding: 17px 53px;
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  #browse .box {
    padding: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  #browse .textbox {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  #browse .textbox {
    width: auto;
  }
  #browse .textbox h1 {
    font-size: 50px;
  }
  #browse .textbox h4 {
    font-size: 18px;
  }
  #browse .btn {
    margin: 0 10px;
    padding: 10px 20px;
  }
  #browse .box {
    padding: 30px 0;
  }
  #browse .box .imgbox {
    width: 130px;
  }
  #browse .box .textbox .add .btn {
    padding: 7px 10px;
  }
}

#order .imgbox {
  width: 600px;
}
#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #5eb0b7;
}
#order .textbox h5 {
  color: #6a7080;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #5eb0b7;
  padding: 13px 34px;
  border-radius: 5px;
}
@media screen and (min-width: 576px) {
  #order .imgbox {
    width: auto;
  }
  #order .textbox h1 {
    font-size: 50px;
  }
  #order .textbox h5 {
    margin: 25px 0;
    font-size: 19px;
  }
}
@media screen and (min-width: 768px) {
  #order .imgbox {
    width: 600px;
  }
  #order .textbox h5 {
    margin: 25px 75px 50px 0;
  }
}
@media screen and (max-width: 576px) {
  #order .imgbox {
    width: auto;
  }
  #order .textbox h1 {
    font-size: 55px;
  }
  #order .textbox h5 {
    margin: 25px 0;
    font-size: 18px;
  }
  #order .textbox .btn {
    font-size: 18px;
    padding: 10px 25px;
  }
}

#callour {
  background-color: #f3f4f8;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #53b5be;
}
#callour .textbox h5 {
  color: #808080;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #53b5be;
  padding: 13px 34px;
}
#callour .imgbox {
  width: 520px;
}
@media screen and (min-width: 576px) {
  #callour .textbox h1 {
    font-size: 62px;
  }
  #callour .imgbox {
    margin-top: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  #callour .textbox h1 {
    font-size: 65px;
  }
  #callour .textbox h5 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  #callour .textbox h1 {
    font-size: 52px;
  }
  #callour .textbox h5 {
    margin: 25px 0 50px 0;
    font-size: 18px;
  }
  #callour .textbox .btn {
    padding: 10px 20px;
    font-size: 18px;
  }
  #callour .imgbox {
    margin-top: 20px;
    width: auto;
  }
}

#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(44, 108, 108, 0.4745098039);
}
#support .textbox .btn {
  font-size: 22px;
  color: #47b2bc;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #4ab9c4;
  border-radius: 20px;
}
#support .imgbox {
  border-radius: 20px;
}
@media screen and (max-width: 992px) {
  #support .textbox h1 {
    font-size: 40px;
  }
  #support .textbox .btn {
    padding: 7px 10px;
    font-size: 20px;
  }
  #support .imgbox {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #support .textbox h1 {
    font-size: 60px;
  }
  #support .textbox .btn {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 576px) {
  #support .textbox h1 {
    font-size: 30px;
  }
  #support .textbox .btn {
    margin-bottom: 30px;
    font-size: 18px;
  }
  #support .imgbox {
    margin-bottom: 20px;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */